
#rainbow-block{
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, red, yellow, green, blue, rgb(194, 68, 194));
}
#horn-block{
    top: 150px;
    left: 100px;
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid grey;
    position: absolute;
}